<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIActivityMailerTitle</key>
	<string>Mailer</string>
	<key>UIActivityMailerType</key>
	<string>UIActivityMailer</string>
	<key>UIActivityMailerIcon</key>
	<string>UIActivityMailerIcon</string>
</dict>
</plist>
